/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 /* :root {
  --main-bg: #FAF9F5;
}

body {
  background-color: var(--main-bg);
} */

h1 {
  letter-spacing: 3px;    /* spaced out characters */
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.3);  /* subtle shadow */
}